.addEventFlexbox {
    display: grid;
    width: 400px;
    height: 360px;
    grid-template-areas:
    "title" "title" "title"         /* Event Title */
    "event" "task"  "tv-schedule"   /* Event Type */
    "date"  "time"  "time"          /* Time Conditions */
    "locat" "locat" "locat"         /* Location */
    "desc"  "desc"  "desc"          /* Description */
    "categ" "categ";        /* Category */
    border: 2px solid green;
}

/* TITLE */
#event_title {
    grid-area: title;
    color: red;
    font-size: 24px;
    float: left;
    margin-left: 20px;
    padding: 2px;
}

/* EVENT TYPE */
#button_event {
    grid-area: event;
    color: green;
    font-size: 15px;
    float: left;
    margin-left: 20px;
    margin-right: 8px;
}
#button_task {
    grid-area: task;
    color: blue;
    font-size: 15px;
    margin-right: 8px;
}
#button_tv {
    grid-area: tv-schedule;
    color: blue;
    font-size: 15px;
}

/* EVENT TIME */
#time_date {
    grid-area: date;
    color: green;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    margin-right: 20px;
}
#time_start {
    grid-area: time;
    color: green;
}
#time_end {
    grid-area: time;
    color: green;
}

/* LOCATION */
#location {
    grid-area: locat;
    color: orange;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

/* DESCRIPTION */
#description {
    grid-area: desc;
    color: black;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

/* CATEGORY */
#category {
    grid-area: categ;
    color: blue;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}