.addEventFlexbox {
    display: inline-block;
    background-color: lightblue;
    border: 2px solid green;
}

/* TITLE */
#event_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-top: 10px;
    margin-left: 20px;
}

/* EVENT TYPE */
#button_event {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
}
#button_task {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
}
#button_tv {
    color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 20px;
}

/* EVENT TIME */
#time_date {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-left: 20px;
    float: left;
    margin-right: 20px;
}
#time_start {
    color: green;
    font-family: Arial, Helvetica, sans-serif;
}
#time_end {
    color: green;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/* LOCATION */
#location {
    color: orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

/* DESCRIPTION */
#description {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

/* CATEGORY */
#category {
    color: blue;
    font-size: 15px;
    float: left;
    margin-left: 20px;
}

/* CONFIRM EVENT */
#confirm_event {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    float: right;
    margin-right: 20px;
}