<!--
    Box for when the user wants to add an event after selecting
    the "Add Event" button. This is where the user sets information
    such as the type of event, when it takes place, its category, etc.
-->

<!--
  Box for when the user wants to add an event after selecting
  the "Add Event" button. This is where the user sets information
  such as the type of event, when it takes place, its category, etc.
-->
<div class="form" >
  <mat-card-title class="title inline" >Create Event</mat-card-title>
  <span (click)="removeOverlay()" class="material-icons inline grey drag" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>drag_indicator</span>

  <form class="addEventFlexbox">

    <mat-form-field appearance="outline" class="block">
      <mat-label>Title</mat-label>
      <input matInput placeholder="" formControlName="line1">
    </mat-form-field>

    <!--  Event type -->
    <mat-radio-group [formControl]="event_type" class="block radio">
      <mat-radio-button value="event">Event</mat-radio-button>
      <mat-radio-button value="task">Task</mat-radio-button>
      <mat-radio-button value="tv">TV schedule</mat-radio-button>
    </mat-radio-group>

    <!--  Time -->
    <div class="time block">
      <mat-form-field  appearance="outline" class="">
        <input matInput type="datetime-local" placeholder="Start Time">
      </mat-form-field>
      <p class="inline">to</p>
      <mat-form-field  appearance="outline" class="">
        <input matInput type="datetime-local" placeholder="Start Local">
      </mat-form-field>
    </div>


<!--    <mat-form-field appearance="outline" class="block" class="block">-->
<!--      <mat-label>Location</mat-label>-->
<!--      <input matInput placeholder="" formControlName="address">-->
<!--    </mat-form-field>-->

<!--    <mat-form-field appearance="outline" class="block">-->
<!--      <mat-label>Description</mat-label>-->
<!--      <textarea matInput></textarea>-->
<!--    </mat-form-field>-->

    <button mat-button  color="primary" type="submit" >Confirm</button>
    <button mat-button  color="" (click)="close()" >Cancel</button>


  </form>

</div>

<!--<div class="addEventFlexbox">-->
<!--  <div style="background-color: antiquewhite;">-->
<!--    &lt;!&ndash; Title &ndash;&gt;-->
<!--    <input type="text" id="event_title" placeholder="Add Title"><br><br>-->
<!--    &lt;!&ndash; Event Type &ndash;&gt;-->
<!--    <div class="eventType">-->
<!--      <a id="button_event" data-role="button" data-inline="true">Event</a>-->
<!--      <a id="button_task" data-role="button" data-inline="true">Task</a>-->
<!--      <a id="button_tv" data-role="button" data-inline="true">TV Schedule</a>-->
<!--    </div>-->
<!--    &lt;!&ndash;replace with span elements?&ndash;&gt;-->
<!--    &lt;!&ndash; Time &ndash;&gt;-->
<!--    <input type="date" id="time_date"><br><br>-->
<!--    <input type="time" id="time_start"><br><br>-->
<!--    <input type="time" id="time_end"><br><br>-->
<!--  </div>-->
<!--</div>-->
