<!--
  Box for when the user wants to add an event after selecting
  the "Add Event" button. This is where the user sets information
  such as the type of event, when it takes place, its category, etc.
-->
<div class="form">
  <mat-card-title class="title inline">Create</mat-card-title>
  <span (click)="removeOverlay()" class="material-icons inline grey drag" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>drag_indicator</span>
  <div class="height"></div>

  <mat-tab-group>
    <mat-tab label="Event">
      <div class="height"></div>
      <form [formGroup]="eventForm" (ngSubmit)="submit()">

        <mat-form-field appearance="outline" class="block">
          <mat-label>Title</mat-label>
          <input matInput placeholder="" formControlName="title">
        </mat-form-field>
        <mat-form-field appearance="outline" class="block">

          <mat-label>Description</mat-label>
          <textarea matInput placeholder="" formControlName="description"></textarea>
        </mat-form-field>
        <mat-checkbox formControlName="isRecurring">Recurring</mat-checkbox>
        <mat-checkbox id="allday" formControlName="allDay">All Day</mat-checkbox>

        <!--  Time if not recurring and not all day-->
        <div *ngIf="!this.eventForm.value.isRecurring && !this.eventForm.value.allDay" class="time block">
          <mat-form-field appearance="outline" class="">
            <input matInput type="datetime-local" placeholder="Start" formControlName="start">
          </mat-form-field>
          <p class="inline">to</p>
          <mat-form-field appearance="outline" class="">
            <input matInput type="datetime-local" placeholder="End" formControlName="end">
          </mat-form-field>
        </div>

        <!--  Time if not recurring but all day-->
        <div *ngIf="!this.eventForm.value.isRecurring && this.eventForm.value.allDay" class="time block">
          <mat-form-field appearance="outline" class="">
            <input matInput type="date" placeholder="Start Date" formControlName="start">
          </mat-form-field>
          <p class="inline">to</p>
          <mat-form-field appearance="outline" class="">
            <input matInput type="date" placeholder="End Date" formControlName="end">
          </mat-form-field>
        </div>

        <!--  Time if recurring and not all day-->
        <div *ngIf="this.eventForm.value.isRecurring && !this.eventForm.value.allDay">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle value=0>S</mat-button-toggle>
            <mat-button-toggle value=1>M</mat-button-toggle>
            <mat-button-toggle value=2>T</mat-button-toggle>
            <mat-button-toggle value=3>W</mat-button-toggle>
            <mat-button-toggle value=4>T</mat-button-toggle>
            <mat-button-toggle value=5>F</mat-button-toggle>
            <mat-button-toggle value=6>S</mat-button-toggle>

          </mat-button-toggle-group>

          <div class="time block">
            <mat-form-field appearance="outline" class="">
              <input matInput type="time" placeholder="Start Time" formControlName="startTime">
            </mat-form-field>
            <p class="inline">to</p>
            <mat-form-field appearance="outline" class="">
              <input matInput type="time" placeholder="End Time" formControlName="endTime">
            </mat-form-field>
          </div>
        </div>

        <!--  Time if recurring and allday-->
        <div *ngIf="this.eventForm.value.isRecurring && this.eventForm.value.allDay">
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle value="one">S</mat-button-toggle>
            <mat-button-toggle value="two">M</mat-button-toggle>
            <mat-button-toggle value="three">T</mat-button-toggle>
            <mat-button-toggle value="four">W</mat-button-toggle>
            <mat-button-toggle value="five">T</mat-button-toggle>
            <mat-button-toggle value="six">F</mat-button-toggle>
            <mat-button-toggle value="seven">S</mat-button-toggle>

          </mat-button-toggle-group>
        </div>



        <!--    <mat-form-field appearance="outline" class="block" class="block">-->
        <!--      <mat-label>Location</mat-label>-->
        <!--      <input matInput placeholder="" formControlName="address">-->
        <!--    </mat-form-field>-->

        <!--    <mat-form-field appearance="outline" class="block">-->
        <!--      <mat-label>Description</mat-label>-->
        <!--      <textarea matInput></textarea>-->
        <!--    </mat-form-field>-->


        <!--Selecting the event color-->
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Select Color</mat-label>
            <mat-select [(value)]="selectedColor" formControlName="backgroundColor">
              <mat-select-trigger>
                <button class="colorSelect" mat-icon-button [style.background-color]="selectedColor"></button>
              </mat-select-trigger>
              <mat-option *ngFor="let color of colors" [value]="color">
                <button class="colorSelect" mat-icon-button [style.background-color]="color"></button>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <button mat-button color="primary" type="submit">Confirm</button>
        <button mat-button color="" (click)="close()">Cancel</button>


      </form>
    </mat-tab>
    <mat-tab label="Task"> Not implemented </mat-tab>
    <mat-tab label="TV Schedule">
      <div class="height"></div>

      <div class="searchArea" *ngIf="selectedTvInfo == null">
        <mat-form-field appearance="outline" class="block">
          <mat-label>TV search</mat-label>
          <input matInput placeholder="" [(ngModel)]="tvSeachInput" (ngModelChange)="seachTV($event)">
        </mat-form-field>

        <div class="searchResults" *ngIf="searchError == '' && this.searchResult != null ">
          <app-tv-button class="resultCard" [title]="x.Title" [Icon]="" [addtional]="x.imdbID" [year]="x.Year"
            [poster]="x.Poster" *ngFor="let x of searchResult" (click)="select(x)"></app-tv-button>
        </div>
        <button mat-button color="" (click)="close()">Cancel</button>

      </div>

      <div class="planArea" *ngIf="selectedTvInfo != null">
        <div class="subtitle">Selected series</div>
        <app-tv-button class="resultCard" [title]="this.selectedTvInfo.Title" [Icon]="'edit'"
          [addtional]="this.selectedTvInfo.totalSeasons + ' seasons. Runtime: ' + this.selectedTvInfo.Runtime"
          [year]="this.selectedTvInfo.Year" [poster]="this.selectedTvInfo.Poster" (click)="cancelSelect()">
        </app-tv-button>

        <form [formGroup]="tvForm" (ngSubmit)="submitTv()">
          <div class="subtitle" *ngIf="this.seasonArray.length != 0">Select Seasons</div>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle *ngFor="let x of this.seasonArray" value="{{x}}">{{x}}</mat-button-toggle>
          </mat-button-toggle-group>

          <div class="subtitle">Select days</div>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
            <mat-button-toggle value="one">S</mat-button-toggle>
            <mat-button-toggle value="two">M</mat-button-toggle>
            <mat-button-toggle value="three">T</mat-button-toggle>
            <mat-button-toggle value="four">W</mat-button-toggle>
            <mat-button-toggle value="five">T</mat-button-toggle>
            <mat-button-toggle value="six">F</mat-button-toggle>
            <mat-button-toggle value="seven">S</mat-button-toggle>
          </mat-button-toggle-group>

          <mat-form-field appearance="outline" class="block">
            <mat-label>Episodes per day</mat-label>
            <input matInput placeholder="" formControlName="episodesPerDay" type="number" value="1">
          </mat-form-field>

          <button mat-button color="primary" type="submit">Confirm</button>
          <button mat-button color="" (click)="close()">Cancel</button>
        </form>

      </div>


    </mat-tab>
  </mat-tab-group>


</div>