<!-- 
    Box for when the user wants to set their leisure time slots.
    This is where they will set the free time for each day of the
    week where TV scheduling can be done.
-->

<div class="form">
    <mat-card-title class="title inline">Set Your Free Time</mat-card-title>
    <p></p>


    Sunday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Monday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Tuesday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Wednesday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Thursday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Friday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>

    Saturday
    <div class="time block">
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        -
        <mat-form-field appearance="outline" class="">
            <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
    </div>
</div>