<mat-drawer-container>
  <!--<Container for the side options bar-->
  <mat-drawer #drawer class="drawer" [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
    <app-side-options></app-side-options>
  </mat-drawer>

  <!--<Container for the calendar-->
  <div>
    <mat-toolbar>
      <button mat-icon-button (click)="drawer.toggle(); render();" class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>

      <span>Entertainment Scheduler</span>
      <span class="example-spacer"></span>

    </mat-toolbar>

    <div class="content">
      <full-calendar #calendar [options]="calendarOptions" class="calendar" (wheel)='scroll($event)'></full-calendar>
    </div>
  </div>
</mat-drawer-container>