<!--
  Box for when the user wants to add an event after selecting
  the "Add Event" button. This is where the user sets information
  such as the type of event, when it takes place, its category, etc.
-->
<div class="form">
  <mat-card-title class="title inline">Edit</mat-card-title>
  <span class="material-icons inline grey drag" cdkDrag cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>drag_indicator</span>

  <div class="height"></div>
  <form [formGroup]="editForm" (ngSubmit)="submit()">

    <!-- Title of the Event -->
    <mat-form-field appearance="outline" class="block">
      <mat-label>Title</mat-label>
      <input matInput placeholder="" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="outline" class="block">

      <!-- Description of the Event -->
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="" formControlName="description"></textarea>
    </mat-form-field>
    <mat-checkbox formControlName="isRecurring">Recurring</mat-checkbox>
    <mat-checkbox id="allday" formControlName="allDay">All Day</mat-checkbox>

    <!--  Time if not recurring and not all day-->
    <div *ngIf="!this.editForm.value.isRecurring && !this.editForm.value.allDay" class="time block">
      <mat-form-field appearance="outline" class="">
        <input matInput type="datetime-local" placeholder="Start" formControlName="start">
      </mat-form-field>
      <p class="inline">to</p>
      <mat-form-field appearance="outline" class="">
        <input matInput type="datetime-local" placeholder="End" formControlName="end">
      </mat-form-field>
    </div>

    <!--  Time if not recurring but all day-->
    <div *ngIf="!this.editForm.value.isRecurring && this.editForm.value.allDay" class="time block">
      <mat-form-field appearance="outline" class="">
        <input matInput type="date" placeholder="Start Date" formControlName="start">
      </mat-form-field>
      <p class="inline">to</p>
      <mat-form-field appearance="outline" class="">
        <input matInput type="date" placeholder="End Date" formControlName="end">
      </mat-form-field>
    </div>

    <!--  Time if recurring and not all day-->
    <div *ngIf="this.editForm.value.isRecurring && !this.editForm.value.allDay">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
        <mat-button-toggle value=0>S</mat-button-toggle>
        <mat-button-toggle value=1>M</mat-button-toggle>
        <mat-button-toggle value=2>T</mat-button-toggle>
        <mat-button-toggle value=3>W</mat-button-toggle>
        <mat-button-toggle value=4>T</mat-button-toggle>
        <mat-button-toggle value=5>F</mat-button-toggle>
        <mat-button-toggle value=6>S</mat-button-toggle>

      </mat-button-toggle-group>

      <div class="time block">
        <mat-form-field appearance="outline" class="">
          <input matInput type="time" placeholder="Start Time" formControlName="startTime">
        </mat-form-field>
        <p class="inline">to</p>
        <mat-form-field appearance="outline" class="">
          <input matInput type="time" placeholder="End Time" formControlName="endTime">
        </mat-form-field>
      </div>
    </div>

    <!--  Time if recurring and allday-->
    <div *ngIf="this.editForm.value.isRecurring && this.editForm.value.allDay">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style" multiple>
        <mat-button-toggle value="one">S</mat-button-toggle>
        <mat-button-toggle value="two">M</mat-button-toggle>
        <mat-button-toggle value="three">T</mat-button-toggle>
        <mat-button-toggle value="four">W</mat-button-toggle>
        <mat-button-toggle value="five">T</mat-button-toggle>
        <mat-button-toggle value="six">F</mat-button-toggle>
        <mat-button-toggle value="seven">S</mat-button-toggle>

      </mat-button-toggle-group>
    </div>

    <!--Selecting the event color-->
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Select Color</mat-label>
        <mat-select formControlName="backgroundColor">
          <mat-select-trigger>
            <button class="colorSelect" mat-icon-button
              [style.background-color]="editForm.value.backgroundColor"></button>
          </mat-select-trigger>
          <mat-option *ngFor="let color of colors" [value]="color">
            <button class="colorSelect" mat-icon-button [style.background-color]="color"></button>
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <button mat-button color="primary" type="submit">Save</button>
    <button mat-button color="" (click)="close()">Cancel</button>
  </form>
</div>