
.button-icon {
  position: relative;
  bottom: 2px;
}

.side {
  width: 250px;
}

.titleBar {
  height: 44px;
  border-bottom: 1px solid rgba(0, 0, 0, .12);
  padding: 20px 0 0 20px;

}

.title {
  font-size: 22px;
}

.mainBtn {
  border-radius: 50px;
  height: 50px !important;
  margin: 10px 20px;
}

.navText {
  padding-left: 12px;
}
