<div class="side">
  <div class="titleBar">
    <img id="logo" src="/assets/logo.png" alt="site logo">
  </div>

  <button mat-raised-button class="mainBtn" color="basic" (click)="onCreate()">
    <span class="material-icons button-icon">add</span>
    Create
  </button>

  <button mat-raised-button class="leisure-btn" color="basic" (click)="onLeisureTimeTable()">
    <span class="material-icons button-icon">alarm</span>
    Leisure Time Table
  </button>

  <mat-nav-list class="navBtn">
    <mat-expansion-panel class="legend-btn">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Legend
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-checkbox class="red-visible" (change)="toggleVisibility($event)"></mat-checkbox><br>
      <mat-checkbox class="orange-visible"></mat-checkbox><br>
      <mat-checkbox class="yellow-visible"></mat-checkbox><br>
      <mat-checkbox class="green-visible"></mat-checkbox><br>
      <mat-checkbox class="blue-visible"></mat-checkbox><br>
      <mat-checkbox class="indigo-visible"></mat-checkbox><br>
      <mat-checkbox class="violet-visible"></mat-checkbox><br>
    </mat-expansion-panel>
  </mat-nav-list>

</div>