
.button-icon {
  position: relative;
  bottom: 2px;
}

.side {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleBar {
  margin-top: 5px;
}

/* .title {
  font-size: 22px;
} */

.mainBtn {
  border-radius: 50px;
  height: 50px !important;
  width: 125px !important;
  margin: 20px 0 20px 0;
}

.leisureBtn {
  border-radius: 50px;
  height: 50px !important;
  width: min-content;
  margin: 20px 0 20px 0;
}

#legendBtn {
  margin: 20px 0 20px 0;
}

#seriesBtn{
  /* max-width: 150px; */
  margin: 20px 15px 20px 15px;
}

#tvShowDelete{
  margin: 20px 0 20px 0;
}

.navText {
  padding-left: 12px;
}

#logo {
  width: 120px;
  height: 90px;
}

/* Red legend button */
::ng-deep mat-checkbox.redVisible .mat-checkbox-frame {
  border-color: #FF2626;
}

::ng-deep .mat-checkbox-ripple.redVisible .mat-ripple-element {
  background-color: #FF2626 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.redVisible .mat-checkbox-background {
  background-color: #FF2626 !important;
}

/* Orange legend button */
::ng-deep mat-checkbox.orangeVisible .mat-checkbox-frame {
  border-color: #FF8C26;
}

::ng-deep .mat-checkbox-ripple.orangeVisible .mat-ripple-element {
  background-color: #FF8C26 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.orangeVisible .mat-checkbox-background {
  background-color: #FF8C26 !important;
}

/* Yellow legend button */
::ng-deep mat-checkbox.yellowVisible .mat-checkbox-frame {
  border-color: #FBBC04;
}

::ng-deep .mat-checkbox-ripple.yellowVisible .mat-ripple-element {
  background-color: #FBBC04 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.yellowVisible .mat-checkbox-background {
  background-color: #FBBC04 !important;
}

/* Green legend button */
::ng-deep mat-checkbox.greenVisible .mat-checkbox-frame {
  border-color: #04F100;
}

::ng-deep .mat-checkbox-ripple.greenVisible .mat-ripple-element {
  background-color: #04F100 !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.greenVisible .mat-checkbox-background {
  background-color: #04F100 !important;
}

/* Blue legend button */
::ng-deep mat-checkbox.blueVisible .mat-checkbox-frame {
  border-color: #3390FF;
}

::ng-deep .mat-checkbox-ripple.blueVisible .mat-ripple-element {
  background-color: #3390FF !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.blueVisible .mat-checkbox-background {
  background-color: #3390FF !important;
}

/* Indigo legend button */
::ng-deep mat-checkbox.indigoVisible .mat-checkbox-frame {
  border-color: #AF6CFF;
}

::ng-deep .mat-checkbox-ripple.indigoVisible .mat-ripple-element {
  background-color: #AF6CFF !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.indigoVisible .mat-checkbox-background {
  background-color: #AF6CFF !important;
}

/* violet legend button */
::ng-deep mat-checkbox.violetVisible .mat-checkbox-frame {
  border-color: #E334FF;
}

::ng-deep .mat-checkbox-ripple.violetVisible .mat-ripple-element {
  background-color: #E334FF !important;
}

::ng-deep .mat-checkbox-checked.mat-accent.violetVisible .mat-checkbox-background {
  background-color: #E334FF !important;
}