<link rel="stylesheet" type="text/css" href="side-options.component.css">
<div class="options">
  <img id="logo" src="/assets/logo.png" alt="site logo">
  <div class="addEvent">
    <img id="plus" src="/assets/plus.png" alt="plus">
    <!--fix so it looks better-->
    <button class="eventButton">Add Event</button>
  </div>
  <div class="dropdown">
    <button class="dropbtn" onclick="dropdown_legend()">Legend</button>
    <div id=dropdown-checks class="dropdown-content">
      <!--Placeholder options-->
      <input type="checkbox" id="legend_option1">
      <label for="legend_option1"> Option 1</label><br>
      <input type="checkbox" id="legend_option2">
      <label for="legend_option2"> Option 2</label><br>
      <input type="checkbox" id="legend_option3">
      <label for="legend_option3"> Option 3</label><br>
    </div>
  </div>
</div>
<script src="../../../src/assets/js/side-options-script.js"></script>