h1 {
  text-align: center;
}

.content {
  display: flex;
  flex-flow: row;
}

.options-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: solid;
  border-color: green;
  padding: 0px 10px;
}

.calendar-box {
  flex-grow: 1;
  width: 90%;
  order: 1;
  position: relative;
}

#addEvent{
  width: 100%;
  border-radius: 25px;
  padding: 5px;
  background-color: #ddc308;
  display: flex;
  align-items: center;
}
.addEvent:hover {
  background-color: #c0ffee;
}
/* Dropdown Button */
.dropbtn {
  background-color: #04a5aa;
  color: rgb(0, 0, 0);
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  margin-top: 30px;
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {/*fix transparancy issues*/
  order: -1;
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: rgb(0, 0, 0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(155, 155, 155);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

#logo {
  width: 87px;
  height: 65px;
}

#plus {
  width: 30px;
  height: 30px;
  float: left;
  padding: 5px;
}
