<h1>Welcome to Entertainment Scheduler</h1>
<div class="content">
  <div class="options-box">
    <img id="logo" src="/assets/logo.png" alt="site logo">
    <div class="addEvent">
      <img id="plus" src="/assets/plus.png" alt="plus">
      <!--fix so it looks better-->
      Create
      <div class="eventButton"></div>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Legend</button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div>
  </div>
  <div class="calendar-box">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
